<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <!-- Row -->
  <div class="row">

    <!-- div for showing vendor information -->
    <div class="col-md-6">
      <div>
        <h2>Ordering from</h2>
        <% @snacks.group("vendor").uniq.each do |snack| %>
          <h4><%= snack.vendor.capitalize %></h4>
        <% end %>
      </div>
    </div> 
    
    <!-- Div for placing order form -->
    <div class="col-md-6">
      <!-- Form for order -->
      <div>
        <%= form_for(@order) do |f| %>
          <% if @order.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

              <ul>
              <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :user_id, "Find Yourself"%>
            <%= f.select :user_id, User.all.collect{|u| [u.name, u.id]} %>
          </div>
          <div class="field">
            <%= f.label :snack_id, "choose your munchie"%>
            <%= f.select :snack_id, Snack.all.collect{|s| [s.name, s.id]}, class: "border-radius" %>
          </div>
          <div class="field">
            <%= f.label :quantity %>
              <%= f.radio_button 'quantity', 1, checked: true%>
              <%= f.label 1 %>&nbsp;&nbsp;
               <%= f.radio_button 'quantity', 2 %>
              <%= f.label 2 %>&nbsp;&nbsp;
              <%= f.radio_button 'quantity', 3 %>
              <%= f.label 3 %>&nbsp;&nbsp;
              <%= f.radio_button 'quantity', 4 %>
              <%= f.label 4 %>&nbsp;&nbsp;
          </div>
          <div class="actions">
            <%= f.submit "Place Order", class: "btn btn-primary" %>
          </div>
        <% end %>

      </div>

    </div>
  </div><!-- End Row -->
</div>


<h1>Listing Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Cyborg</th>
      <th>Snack</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.snack.name %></td>
        <td><%= order.quantity %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>